@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

@foreach (Book b in Model.Books)
{
    <div class="card m-2 p-2">
        <h3>@b.Title</h3>
        <ul>
            <li>@b.Author</li>
            <li>@b.Publisher</li>
            <li>@b.Isbn</li>
            <li>@b.Classification</li>
            <li>@b.Category</li>
            <li>@b.PageCount</li>
            <li>@b.Price</li>
        </ul>
    </div>
}

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn"
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>